@import "./theme.css";

@layer base {
	@keyframes scaleTo100 {
		from {
			opacity: 0;
			transform: scale(0);
		}
		to {
			opacity: 100;
			transform: scale(1);
		}
	}

	@keyframes goUp {
		from {
			opacity: 0;
			transform: translateY(var(--go-up-from, 40px));
		}
		to {
			opacity: 100;
			transform: translateY(0);
		}
	}

	@keyframes goDown {
		from {
			opacity: 0;
			transform: translateY(var(--go-down-from, -40px));
		}
		to {
			opacity: 100;
			transform: translateY(0);
		}
	}

	.animate_up {
		animation: goUp 0.3s ease;
	}

	.animate_down {
		animation: goDown 0.3s ease;
	}

	.animate_scale {
		animation: scaleTo100 0.3s ease;
	}
}
