@import "./theme.css";

@layer base {
	button,
	.button {
		@apply cursor-pointer;
	}

	button:not(.unset),
	.button,
	.chip {
		@apply inline-flex items-center justify-center gap-2 border whitespace-nowrap shadow-xs transition-all disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0;

		&:not(.secondary):not(.accent):not(.ghost):not(.outlined) {
			&:not(.soft) {
				@apply border-primary bg-primary text-primary-foreground [&_svg]:text-primary-foreground hover:bg-primary/70 hover:border-transparent active:opacity-90;
			}
			&.soft {
				@apply border-primary/10 bg-primary/5 text-primary [&_svg]:text-primary hover:bg-primary/10 active:opacity-90;
			}
		}

		&.outlined {
			&:not(.neon) {
				@apply hover:bg-primary/20;
			}

			&.neon {
				@apply hover:border-primary;
			}

			@apply [&_svg]:text-foreground text-foreground border-border/70 bg-transparent active:opacity-90;
		}

		&.ghost {
			@apply text-foreground [&_svg]:text-foreground hover:bg-primary/20 hover:border-primary/20 border-transparent bg-transparent shadow-none active:opacity-90;
		}

		&.secondary {
			@apply border-secondary bg-secondary [&_svg]:text-secondary-foreground text-secondary-foreground hover:border-secondary/70 hover:bg-secondary/70 active:opacity-90;
		}

		&.accent {
			@apply border-accent bg-accent text-accent-foreground [&_svg]:text-accent-foreground hover:border-accent/70 hover:bg-accent/70 active:opacity-90;
		}

		&.xs {
			@apply rounded px-2 py-1 text-xs font-semibold [&_svg]:size-3;
		}

		&.sm {
			@apply h-7 rounded-sm px-3 text-sm font-semibold [&_svg]:size-4;
		}

		&:not(.xs):not(.sm):not(.icon):not(.square):not(.lg) {
			@apply h-10 rounded-md px-3 font-bold [&_svg]:size-4;
		}

		&.lg {
			@apply h-12 rounded-md px-3 text-lg font-bold [&_svg]:size-5;
		}

		&.icon {
			@apply h-7 w-7 shrink-0 rounded-full px-1 [&_svg]:size-4;
		}

		&.square {
			@apply shrink-0 rounded-md [&_svg]:size-4;

			&:not(.sm) {
				@apply h-10 w-10 p-3;
			}

			&.sm {
				@apply h-7 w-7 p-1;
			}
		}
	}
}
