@import "./theme.css";

@layer base {
	kbd:not(.unset) {
		@apply bg-secondary text-secondary-foreground pointer-events-none rounded-sm px-1.5 py-1 text-center font-mono text-xs font-medium;
	}

	.card {
		@apply bg-card text-card-foreground overflow-hidden rounded-md border shadow-xs;

		h1:not(.unset) {
			@apply text-2xl font-black;
		}

		h2:not(.unset) {
			@apply text-xl font-black tracking-wide;
		}

		h3:not(.unset) {
			@apply text-lg font-bold;
		}

		header:not(.unset) {
			@apply bg-secondary text-secondary-foreground relative px-5 py-4;

			p:not(.unset) {
				@apply text-foreground/70;
			}
		}

		footer:not(.unset) {
			@apply border-t px-5 py-2;
		}

		article:not(.unset) {
			@apply px-4 py-2;
		}

		form:not(.unset) {
			@apply p-4;
		}

		&.lg {
			header {
				@apply px-7 py-6;
			}

			footer {
				@apply px-7 py-4;
			}

			article {
				@apply px-6 py-4;
			}

			form {
				@apply p-6;
			}
		}
	}

	.squircle {
		@apply inline-flex aspect-square shrink-0 items-center justify-center rounded-lg [&_svg]:pointer-events-none [&_svg]:shrink-0;

		&:not(.secondary):not(.accent):not(.outlined) {
			@apply bg-primary/10 text-primary;
		}

		&.outlined {
			@apply border-primary/10 text-foreground border bg-transparent;
		}

		&.secondary {
			@apply bg-secondary/10 text-secondary;
		}

		&.accent {
			@apply bg-accent/10 text-accent;
		}

		&:not(.lg):not(.xl) {
			@apply size-9 p-2 [&_svg]:size-5;
		}

		&.lg {
			@apply size-10 p-2.5 font-bold [&_svg]:size-6;
		}

		&.xl {
			@apply size-9 p-2 font-black sm:size-12 sm:p-3 [&_svg]:size-5 sm:[&_svg]:size-7;
		}
	}
}
