@import "./theme.css";

@layer base {
	input:not(.unset),
	textarea:not(.unset),
	.input-like {
		@apply placeholder:text-foreground/50 min-h-10 w-full rounded-lg transition-all outline-none disabled:opacity-70;

		&.ghost {
			@apply text-foreground focus-visible:ring-ring text-lg font-bold ring-2 ring-transparent sm:text-xl;
		}

		&:not(.ghost) {
			@apply hover:border-primary bg-background border-border/70 focus-visible:ring-ring border px-3 py-2 text-sm shadow-xs ring-2 ring-transparent;
		}
	}

	label:not(.unset) {
		@apply text-foreground/70 text-sm font-semibold;

		&.sublabel {
			@apply text-xs;
		}

		&.error {
			@apply text-rose-500;
		}
	}
}
